---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Store";

---

<BaseLayout pageTitle={pageTitle}>
    <div class="page__content container-xl my-8">
        <div id="my-store-96987418"></div>
        <div>
        <script data-cfasync="false" type="text/javascript" src="https://api-e.lightspeed.app/script.js?96987418&data_platform=code&data_date=2024-01-07" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-96987418");</script>
        </div>
    </div>
</BaseLayout>
